/* Navbar */
header.v-toolbar {
  background-color: white !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  z-index: 10;
}
main + header.v-toolbar {
    padding: 0 !important;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1) !important;
}
.v-toolbar__content {
  height: 5.5rem !important;
  justify-content: space-between;
  background-color: transparent;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}
.nav-buttons {
  width: 150px;
  height: 40px;
  user-select: none;
  background-image: url("./images/logo.png");
  background-position: center;
  background-size: contain;
}
.help-toggle, .v-toolbar-title {
    display: none;
}

/* Start actions */
#startActions {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #ffffff;
  display: flex;
  z-index: 100;
  width: 100%;
  justify-content: center;
  padding: 3rem 1rem;
  transition: all 0.5s ease;
}
#startActions.hide {
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
}
#startActions > button {
  padding: 0.75em 1em;
  background: #f7bc00;
  font-size: calc(1em + 0.25vmin);
  border-radius: 10px;
  /* border: 2px solid #f7bc00; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#startActions > button:hover {
  background-color: black;
  color: #f7bc00;
}
#startActions > button:first-child {
  margin-right: 20px;
}

/* annie */
main.v-main:before {
  content: "";
  background-image: url("./images/assistant.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 160px;
  display: block;
  margin: 20px 0 20px 0;
  flex-shrink: 0;
}

/* content */
main.v-main {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 0;
}
.message-list-container {
  position: relative;
  top: 0 !important;
  padding: 0 !important;
  height: auto !important;
  overflow: visible;
}
.layout.message-list {
  padding: 12px 12px 50px 12px;
  overflow-y: visible;
}
.v-row.response-card {
  margin: 0;
  display: block;
}

/* messages */
.button-row .v-btn {
  background-color: transparent !important;
  border: solid 1px #f7bc00 !important;
  box-shadow: none;
  border-radius: 15px;
  text-transform: initial;
  height: auto;
  padding: 1em 1.5em;
}
.message-bot > :first-child {
  max-width: calc(100% - 3em - 12px);
}

.message-bot {
  background-image: url("./images/loading.gif");
  background-position: 68px 38px;
  background-repeat: no-repeat;
  background-size: 35px;
  display: none;
}
.messsge-loading,
.message-loading {
  display: none !important;
}
.message-bot.show {
  display: flex;
}
.message-bot.hide-actions .response-card {
  display: none;
}
.message-layout {
  transform-origin: 0 0;
  animation: messageBubble 0.2s ease 1;
}
.message-bot .message-layout {
  animation: messageBubbleBot ease 1;
  animation-duration: inherit;
}
.message-bubble {
  border-radius: 15px !important;
  padding: 0.7em 1em !important;
  display: flex;
  align-items: center;
  box-shadow: none !important;
  min-height: 45px;
  min-width: 80px;
}
.message-human .message-layout {
  transform-origin: 100% 0;
}
@keyframes messageBubble {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.message-bot .message-bubble {
  background-color: #f4f4f4 !important;
}
@keyframes messageBubbleBot {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.message-bot:before {
  content: "";
  width: 3em;
  height: 3em;
  border-radius: 50px;
  background-color: white;
  background: url("./images/avatar.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  margin-top: 12px;
  margin-left: 12px;
  animation: botImage 0.3s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes botImage {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.message-bot + .message-bot:before {
  visibility: hidden;
  pointer-events: none;
}
.message-human .message-bubble {
  background-color: #f7bc00 !important;
}
.message-feedback .message-bubble {
  background-color: #ffffff !important;
  border: 1px solid #2a262f;
}

.message-bubble p {
  margin-bottom: 8px;
}

.message-bubble p:last-child {
  margin-bottom: 0px;
}

.message-bubble .message-text {
  padding: 0;
  line-height: 1.6;
}

.message-text {
  color: #000000;
  width: 100%;
}
.message-date {
  text-align: left !important;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 1em;
  overflow: hidden;
  animation: messageDate 0.3s ease 1;
}
@keyframes messageDate {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
.message-human .message-date,
.message-feedback .message-date {
  text-align: right !important;
}
